@import 'tailwindcss';
@plugin "daisyui";

@layer base {
  button {
    @apply cursor-pointer;
  }
}

@layer utilities {
  .rainbow::before {
    content: '';
    position: absolute;
    z-index: -2;
    left: -50%;
    top: -50%;
    width: 200%;
    height: 200%;
    background-position: 100% 50%;
    background-repeat: no-repeat;
    background-size: 50% 30%;
    filter: blur(6px);
    background-image: linear-gradient(#ff0a7f, #780eff);
    animation: rotate 4s linear infinite;
  }
}
